<!DOCTYPE html>
{% load static %}
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>Potvrzení kurzu</title>
    <link rel="stylesheet" type="text/css" href="{% static 'school_app/style.css' %}" />
</head>
<body>
    {% if app_user is not None %}
        <div style = "text-align: right">
            <a href="/?logout">Odhlásit se</a>
        </div>
        <div class="main_frame" style = "margin-top: 4px"><h1><a href="/" class="noa">School app</a></h1></div>
        <div class="sidenav">
            <div class="logged_info">
                Uživatel: {{ app_user }}<br>
                Skupina: {{ app_user.permission }}
            </div>
            <h2>Hlavní menu</h2>
            <a href="/">Seznam kurzů</a><br>
            <a href="/schedule">Rozvrh</a><br>
            <a href="/terms">Termíny</a><br>
            <a href="/course_register">Registrace kurzů</a><br>
            {# Lektor #}
            {% if app_user.permission.id >= 2 %}
                <br>
                <a href="/my_courses">Moje kurzy</a><br>
            {% endif %}
            {# Garant #}
            {% if app_user.permission.id >= 3 %}
                <br>
                <a href="/register_manage">Správa registrací</a><br>
                <a href="/newcourse">Nový kurz</a><br>
            {% endif %}
            {# Vedoucí #}
            {% if app_user.permission.id >= 4 %}
                <br>
                <a href="/rooms">Správa místností</a><br>
                <a href="/course_approval">Schvalování kurzů</a><br>
                <a href="/course_types">Správa typů kurzů</a><br>
            {% endif %}
            {# Admin #}
            {% if app_user.permission.id >= 5 %}
                <br>
                <a href="/users">Správa uživatelů</a><br>
            {% endif %}
        </div>
        {# Vedoucí #}
        {% if app_user.permission_id >= 4 %}
            <div class="medium_frame_thin"><h2>Schvalování nových kurzů</h2></div>
            <div class="medium_frame">
                <form method="post">{% csrf_token %}
                <table>
                    <tr>
                        <th class="min"><label><input type="checkbox" checked disabled></label></th>
                        <th class="min">Zkr</th>
                        <th style="width: 33%">Kurz</th>
                        <th style="width: 33%">Garant</th>
                        <th style="width: 33%">Cena</th>
                    </tr>
                    {% for course in courseList %}
                        <tr>
                            <td class="center"><label><input type="checkbox" name="{{ course.abbrev }}"></label></td>
                            <td class="center"><a href="course_detail?predmet={{ course.abbrev }}">{{ course.abbrev }}</a></td>
                            <td><a href="course_detail?predmet={{ course.abbrev }}">{{ course.title }}</a></td>
                            <td><a href="{% url 'user' course.garant.login %}">{{ course.garant }}</a></td>
                            <td>{{ course.price }},-</td>
                        </tr>
                    {% endfor %}
                </table>
                <div class="spacer"><label>{{ submit_msg }}</label></div>
                <button class="button" type="submit">Schválit vybrané</button>
                </form>
            </div>
        {% else %}
            <div class="medium_frame"><h2>Nemáš právo zobrazit tuto stránku.</h2></div>
        {% endif %}
    {% else %}
        <div style = "text-align: right">
            <a href="/login">Přihlásit/Registrovat</a>
        </div>
        <div class="main_frame" style = "margin-top: 4px"><h1><a href="index" class="noa">School app</a></h1></div>
        <div class="medium_frame"><h2>Neregistrovaní uživatelé nemají právo zobrazit tuto stránku.</h2></div>
    {% endif %}
</body>
</html>