<!DOCTYPE html>
{% load static %}
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>Nová místnost</title>
    <link rel="stylesheet" type="text/css" href="{% static 'school_app/style.css' %}" />
</head>
<body>
    {% if app_user is not None %}
        <div style = "text-align: right">
            <a href="/?logout">Odhlásit se</a>
        </div>
        <div class="main_frame" style = "margin-top: 4px"><h1><a href="/" class="noa">School app</a></h1></div>
        <div class="sidenav">
            <div class="logged_info">
                Uživatel: {{ app_user }}<br>
                Skupina: {{ app_user.permission }}
            </div>
            <h2>Hlavní menu</h2>
            <a href="/">Seznam kurzů</a><br>
            <a href="/schedule">Rozvrh</a><br>
            <a href="/terms">Termíny</a><br>
            <a href="/course_register">Registrace kurzů</a><br>
            {# Lektor #}
            {% if app_user.permission.id >= 2 %}
                <br>
                <a href="/my_courses">Moje kurzy</a><br>
            {% endif %}
            {# Garant #}
            {% if app_user.permission.id >= 3 %}
                <br>
                <a href="/register_manage">Správa registrací</a><br>
                <a href="/newcourse">Nový kurz</a><br>
            {% endif %}
            {# Vedoucí #}
            {% if app_user.permission.id >= 4 %}
                <br>
                <a href="/rooms">Správa místností</a><br>
                <a href="/course_approval">Schvalování kurzů</a><br>
                <a href="/course_types">Správa typů kurzů</a><br>
            {% endif %}
            {# Admin #}
            {% if app_user.permission.id >= 5 %}
                <br>
                <a href="/users">Správa uživatelů</a><br>
            {% endif %}
        </div>

        {# Vedoucí #}
        {% if app_user.permission_id >= 4 %}
            <div class="medium_frame_thin"><h2>Nová místnost</h2></div>
            <form method="post">{% csrf_token %}
                <div class="medium_frame_thin">
                    <div class="column_with_pad">
                        <div class="row">
                            <label class="login_label" for="addr">Adresa:</label>
                            <input class="login_input" type="text" id="addr" name="addr" required="required">
                        </div>
                        <div class="row">
                            <label class="login_label" for="door_num">Číslo dveří:</label>
                            <input class="login_input" type="text" id="door_num" name="door_num" required="required">
                        </div>
                        <div class="row">
                            <label class="login_label" for="cap">Kapacita:</label>
                            <input class="login_input" id="cap" name="cap" type="number" value="20" min="1" required="required">
                        </div>
                        <div class="row">
                            <label class="login_label" for="type">Typ místnosti:</label>
                            <select class="login_input" id="type" name="type" required="required">
                                <option value="" disabled selected>Vyber typ místnosti</option>
                                {% for type in typeList %}
                                    <option value="{{ type.id }}">{{ type }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="row">
                            <label class="spacer_small"></label>
                            <label class="spacer_small"></label>
                        </div>
                        <div class="row">
                            <label class="spacer_err">{{ submit_err }}</label>
                            <input class="button" type="submit" name="create_new" value="Vytvoř">
                        </div>
                    </div>
                </div>
            </form>
        {% else %}
            <div class="medium_frame"><h2>Nemáš právo zobrazit tuto stránku.</h2></div>
        {% endif %}
    {% else %}
        <div style = "text-align: right">
            <a href="/login">Přihlásit/Registrovat</a>
        </div>
        <div class="main_frame" style = "margin-top: 4px"><h1><a href="index" class="noa">School app</a></h1></div>
        <div class="medium_frame"><h2>Neregistrovaní uživatelé nemají právo zobrazit tuto stránku.</h2></div>
    {% endif %}
</body>
</html>