<!DOCTYPE html>
{% load static %}
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>Správa uživatelů</title>
    <link rel="stylesheet" type="text/css" href="{% static 'school_app/style.css' %}" />
</head>
<body>
    {% if app_user is not None %}
        <div style = "text-align: right">
            <a href="/?logout">Odhlásit se</a>
        </div>
        <div class="main_frame" style = "margin-top: 4px"><h1><a href="/" class="noa">School app</a></h1></div>
        <div class="sidenav">
            <div class="logged_info">
                Uživatel: {{ app_user }}<br>
                Skupina: {{ app_user.permission }}
            </div>
            <h2>Hlavní menu</h2>
            <a href="/">Seznam kurzů</a><br>
            <a href="/schedule">Rozvrh</a><br>
            <a href="/terms">Termíny</a><br>
            <a href="/course_register">Registrace kurzů</a><br>
            {# Lektor #}
            {% if app_user.permission.id >= 2 %}
                <br>
                <a href="/my_courses">Moje kurzy</a><br>
            {% endif %}
            {# Garant #}
            {% if app_user.permission.id >= 3 %}
                <br>
                <a href="/register_manage">Správa registrací</a><br>
                <a href="/newcourse">Nový kurz</a><br>
            {% endif %}
            {# Vedoucí #}
            {% if app_user.permission.id >= 4 %}
                <br>
                <a href="/rooms">Správa místností</a><br>
                <a href="/course_approval">Schvalování kurzů</a><br>
                <a href="/course_types">Správa typů kurzů</a><br>
            {% endif %}
            {# Admin #}
            {% if app_user.permission.id >= 5 %}
                <br>
                <a href="/users">Správa uživatelů</a><br>
            {% endif %}
        </div>
        {# Administrátor #}
        {% if app_user.permission_id >= 5 %}
            <div class="medium_frame_thin"><h2>Správa uživatelů</h2></div>
            <div class="medium_frame">
                {% if userList %}
                    <form method="post">{% csrf_token %}
                    <table>
                        <tr>
                            <th class="min"><label><input type="checkbox" checked disabled></label></th>
                            <th style="width: 25%">Login</th>
                            <th style="width: 25%">Jméno</th>
                            <th style="width: 25%">Příjmení</th>
                            <th style="width: 25%">Skupina</th>
                            <th class="min">Ověřen</th>
                        </tr>
                        {% for user in userList %}
                            <tr>
                                <td><label><input type="checkbox" name="{{ user.login }}"></label></td>
                                <td><a href="{% url 'user' user.login %}">{{ user.login }}</a></td>
                                <td>{{ user.firstName }}</td>
                                <td>{{ user.lastName }}</td>
                                <td>{{ user.permission }}</td>
                                <td class="center"><label><input disabled="disabled" type="checkbox" {% if user.confirmed %} checked="checked" {% endif %}></label></td>
                            </tr>
                        {% endfor %}
                    </table>
                    <div class="spacer"><label>{{ submit_msg }}</label></div>
                    <div class="spacer"><label></label></div>
                    <label for="action_selector">Vyber akci pro vybrané uživatele: </label>
                    <select class="login_input" id="action_selector" name="selected_action">
                        <option value="confirm">Ověřit</option>
                        <option value="unconfirm">Zrušit ověření</option>
                        <option value="delete">Smazat</option>
                        <option value="role_student">Udělit roli: Student</option>
                        <option value="role_teacher">Udělit roli: Lektor</option>
                        <option value="role_garant">Udělit roli: Garant</option>
                        <option value="role_manager">Udělit roli: Vedoucí</option>
                        <option value="role_admin">Udělit roli: Administrátor</option>
                    </select>
                    <button class="button" type="submit">Proveď</button>
                    </form>
                {% endif %}
            </div>
        {% else %}
            <div class="medium_frame"><h2>Nemáš právo zobrazit tuto stránku.</h2></div>
        {% endif %}
    {% else %}
        <div style = "text-align: right">
            <a href="/login">Přihlásit/Registrovat</a>
        </div>
        <div class="main_frame" style = "margin-top: 4px"><h1><a href="index" class="noa">School app</a></h1></div>
        <div class="medium_frame"><h2>Neregistrovaní uživatelé nemají právo zobrazit tuto stránku.</h2></div>
    {% endif %}
</body>
</html>